<nav class="navbar navbar-expand-lg" style="background-color: rgb(182, 55, 43); height: fit-content;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: azure;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <img width="110vw" height="65vh" alt="Angular Logo" src="../assets/imgs/ecm_logo.png"/>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: azure;">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="dashboard" style="color: azure;"></a>
          <!-- Se connecter -->
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="register" style="color: azure;"></a>
          <!-- S'inscrire -->
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <img
    width="80"
    alt="Angular Logo"
    src="../assets/imgs/ecm_logo.png"
  />
  <span style="font-size:20px; margin-left: 40px;">ECM</span>
    <div class="spacer"></div>
    </div> -->
<router-outlet></router-outlet>