<div class="card"> 
    <div class="card-body">
        <div class="card list-stages custom-card">
            <div class="card-header"><strong style="height: 30px;" style="color:rgb(182, 55, 43);"> Voici vos informations personnelles</strong></div>
            <div class="card-body custom-card-body">
                <li>Nom : {{etudiant.nom}}</li>
                <li>Prénom : {{etudiant.prenom}}</li>
                <li>Date de Naissance : {{etudiant.dateNaissance}}</li>
                <li>Adresse : {{etudiant.adrs}}</li>
                <li>Sexe : {{etudiant.sexe}}</li>
                <li>Mention : {{etudiant.mention}}</li>
                <li>Numéro Tel : {{etudiant.tel}}</li>
            </div>

            <button type="button" class="btn edit-etudiant-btn" name="edit-etudiant-btn" id="edit-etudiant-btn" data-bs-toggle="modal" data-bs-target="#editEtudiantModal" (click)="assignSelectedEtudiant(etudiant); assignEditedEtudiant()" style="color:rgb(219, 215, 223);" title="Editer etudiant">Modifier vos infos</button>
        </div>
    </div>
</div>

<!-- ======================== edit stage modal ======================== -->
<div class="modal fade" id="editEtudiantModal" tabindex="-1" aria-labelledby="editEtudiantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editEtudiantModalLabel">Editer Etudiant</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="editEtudiantForm()"> 
            <div class="modal-body edit-etudiant-modal-body">
                    <div class="form-wrapper">
                        <div class="input-div">
                            <div class="input-group mb-3" style="width:150px;">
                                <div class="form-group">
                                    <label class="label-elem" for="etudiantNom_modelInput">Nom</label>
                                    <input type="text" class="form-control input-elem" aria-label="Nom" aria-describedby="basic-addon1" id="etudiantNom_modelInput" name="etudiantNom" [value]="selectedEtudiant.nom" [(ngModel)]="editedEtudiant.nom">
                                </div>
                            </div>
                        </div>
                        <div class="input-div">
                            <div class="input-group mb-3" style="width:150px;">
                                <div class="form-group">
                                    <label class="label-elem" for="etudiantPrenom_modelInput">Prenom</label>
                                    <input type="text" class="form-control input-elem" aria-label="Nom" aria-describedby="basic-addon1" id="etudiantPrenom_modelInput" name="etudiantPrenom" [value]="selectedEtudiant.prenom" [(ngModel)]="editedEtudiant.prenom">
                                </div>
                            </div>
                        </div>
                        <div class="input-div">
                            <div class="input-group mb-3" style="width:150px;">
                                <div class="form-group">
                                    <label class="label-elem" for="etudiantDateNaissance_modelInput">Date de naissance</label>
                                    <input type="date" class="form-control input-elem" aria-label="dateNaissance" aria-describedby="basic-addon1" id="etudiantDateNaissance_modelInput" name="etudiantDateNaissance" [value]="selectedEtudiant.dateNaissance" [(ngModel)]="editedEtudiant.dateNaissance">
                                </div>
                            </div>
                        </div>
                        <div class="input-div">
                            <div class="input-group mb-3" style="width:400px;">
                                <div class="form-group">
                                    <label class="label-elem" for="etudiantAdrs_modelInput">Adresse</label>
                                    <input type="text" class="form-control input-elem" aria-label="Adresse" aria-describedby="basic-addon1" id="etudiantAdrs_modelInput" name="etudiantAdrs" [value]="selectedEtudiant.adrs" [(ngModel)]="editedEtudiant.adrs">
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn edit-etudiant-btn" name="edit-etudiant-btn" id="edit-etudiant-btn" data-bs-dismiss="modal">Enregistrer</button>
            </div>
        </form>
      </div>
    </div>
  </div>